<div class="container py-3">
  <div class="col-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Player 3</th>
          <th>Player 4</th>
        </tr>
        <tr>
          <th>150</th>
          <th>-50</th>
          <th>250</th>
          <th>0</th>
        </tr>
      </thead>
      <tr>
        <td>
          <input type="number" class="form-control" name="player-1-score" id="player-1-score">
        </td>
        <td>
          <input type="number" class="form-control" name="player-2-score" id="player-2-score">
        </td>
        <td>
          <input type="number" class="form-control" name="player-3-score" id="player-3-score">
        </td>
        <td>
          <input type="number" class="form-control" name="player-4-score" id="player-4-score">
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">+</button>
            <button type="button" class="btn btn-secondary">-</button>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">+</button>
            <button type="button" class="btn btn-secondary">-</button>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">+</button>
            <button type="button" class="btn btn-secondary">-</button>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">+</button>
            <button type="button" class="btn btn-secondary">-</button>
          </div>
        </td>
      </tr>
      <tbody>
        <tr>
          <td>50</td>
          <td>50</td>
          <td>150</td>
          <td>-50</td>
        </tr>
        <tr>
          <td>100</td>
          <td>-100</td>
          <td>100</td>
          <td>50</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
